<IfModule mod_rewrite.c>
   RewriteEngine on
   RewriteCond %{HTTP_HOST} !^www\.
   RewriteRule ^(.*)$ http://www.%{HTTP_HOST}/$1 [R=301,L]
   RewriteRule ^page/(.*)$ page.php?sef=$1
   RewriteRule ^products/(.*)$ products.php?sef=$1
   RewriteRule ^products/(.*)$ products.php?sef=$1
   RewriteRule ^verticals/(.*)$ verticals.php?sef=$1
   RewriteRule ^news/all$ news.php?sef=all
   RewriteRule ^news/(.*)$ news.php?sef=$1
</IfModule>